<div class="panel panel-default">
  <div class="panel-heading">
    <%= post.title %> (<%= pluralize post.comments.size, "comment" %>) <%= link_to "Read more", post %>
  </div>
  <div class="panel-body"><%= post.content %></div>
</div>
